@import url(header.css);
@import url(banner.css);
@import url(carrossel.css);
@import url(topicos.css);
@import url(contato.css);
@import url(rodape.css);

hr{
    margin: 0;
}
.rodape{
    background-color: var(--branco);
    padding: 1em;
}